/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "../Utils/Colors.css";


/* For the background and setup of a page */
.Page {
    background-color: var(--default-grey);
    color: var(--default-black);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: center;
    padding-top: 4vw;
}

/* For divs with a background */
.Panel {
    background-color: var(--default-white);
}

/* For divs with a background */
.Row {
    display: flex;
    flex-direction: row;
    padding: 0.5vw;
    flex: auto;
    justify-content: center;
    align-items: center;
}

/* For divs with a background */
.Column {
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
}

/* For divs with a grid of items */
.Grid {
    display : grid;
    row-gap: 4vh;
    column-gap: 1vw;
}

/* Moves items to the center of the container */
.Centered {
    flex: auto;
    justify-items: center;
    align-items: center;
}

/* Moves items to the start of the container */
.Start {
    flex: auto;
    align-items: start;
    justify-items: start;
}

/* Moves items to the end of the container */
.End {
    flex: auto;
    align-items: end;
    justify-items: end;
}

/* For very large headings */
h1 {
    font-size: 2vw;
    padding: 0.5vw;
}

/* For normal headings */
h2 {
    font-size: 1.5vw;
    padding: 0.5vw;
}

/* For normal headings */
h3 {
    font-size: 1vw;
    padding: 0.5vw;
}

/* For small headings */
h4 {
    font-size: 0.75vw;
    padding: 0.5vw;
}

.TextLink {
    color: var(--default-blue);
}

.TextError {
    color: var(--default-red);
}


.radio-option {
    margin-left: 20px;
    margin-right: 5px;
    /* @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus: ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 */
}

.school-option {
    background-color: #f0f0f0;
    /* Light grey background */
    padding: 10px;
    /* Add some padding around the list items */
    border: 1px solid #e0e0e0;
}

.school-option:hover {
    background-color: #e0e0e0;
    /* Darken the background a bit for the hover state */
}