@import "../Utils/Colors.css";

/* Used for most buttons */
.ButtonStandard {
    background-color: var(--default-grey);
    color: var(--default-black);
    font-family: "Good Times", monospace;
    font-size: 1vw;
    padding: 0.5vw;
}

/* Used for important buttons */
.ButtonImportant {
    background-color: var(--default-yellow);
    color: var(--default-black);
    font-family: "Good Times", monospace;
    font-size: 1vw;
    padding: 0.5vw;
}

/* Used for buttons that appear as links */
.ButtonLink {
    background: none;
    color: var(--default-blue);
    font-family: "Good Times", monospace;
    font-size: 1vw;
    padding: 0.5vw;
}

/* Used for buttons that delete things */
.ButtonDelete {
    background-color: var(--default-red);
    color: var(--default-black);
    font-family: "Good Times", monospace;
    font-size: 1vw;
    padding: 0.5vw;
}

/* Used for buttons who do not have a background color */
.ButtonTransparent {
    background-color: transparent;
    color: var(--default-black);
    font-family: "Good Times", monospace;
    font-size: 1vw;
    padding: 0.25vw 0.5vw;
}